/.idea/
/.gradle/
/target/
*/build/
/identity-frontend-vaadin/node_modules/
/identity-frontend-vaadin/frontend/generated/
/identity-frontend-vaadin/frontend/index.html
/identity-frontend-vaadin/src/main/frontend/generated/
/identity-frontend-vaadin/src/main/frontend/index.html
/src/main/frontend/generated/
/src/main/frontend/index.html
/node_modules/
/identity-frontend-vaadin/vite.generated.ts
/local-db/
